*, ::before, ::after {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 5px 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

#hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) url("../image/family-camping.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
    padding: 0 20px;
    text-align: center;
    background-attachment: fixed;
}

#hero> h2, #hero> p {
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    color: blue;
    background: white;
    border-radius: 20px;
    padding: 5px 20px;
}

#deals {
    padding: 20px;
    margin: 50px auto;
    background: #999;
}

#deals h2 {
    text-align: center;
}

.card-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 20px;
}

.card {
    border-radius: 20px;
    background-color: #444;
}

.card > img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

figcaption {
    color: white;
    padding: 20px 10px;
}

footer {
    background: black;
    color: white;
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.social > a {
    text-decoration: none;
    margin: 0 10px;
}

.social > a > img {
    width: 30px;
    height: 30px;
    background: white;
    padding: 5px;
    border-radius: 100%;
}

@media (min-width: 768px) {
    nav {
        padding: 8px 40px;
    }

    #hero {
        padding: 0 8rem;
    }

    .card-container {
        flex-flow: wrap;
    }

    .card {
        width: 45%;
    }

    footer {
        flex-flow: row;
        padding: 30px 50px;
    }
}

@media (min-width: 1078px) {
    #hero {
        padding: 0 15rem;
    }

    .card {
        width: 30%;
    }
}